<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Emotion Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
 <div class="p-3 mb-2 bg-primary text-white">
	<h1>Emotion Analysis</h1>
	<br>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict_emo')}}"method="post">
    	<input type="text" class="form-control form-control-lg" name="sentence" placeholder="Tell Me Your Story" style="text-align:center;" required="required" />
        
		<br>
		
        <button type="submit" class="btn btn-success btn-block btn-large">Check</button>
    </form>

   <br>
   <br>
   <h4> <p class="text-center text-capitalize">{{ sentence_text }}</p> </h4>
   <h5> <p class="text-center text-capitalize">{{ opening_text }}</p> </h5>
   
   <h2>
	{% if prediction_text == "joy" %} 
     <p style = "color:Gold;" class="text-center"> {{prediction_text}} </p>
	{% elif prediction_text =="anger"%}
     <p style = "color:FireBrick;" class="text-center"> {{prediction_text}} </p>
	{% elif prediction_text == "love" %} 
     <p style = "color:HotPink;" class="text-center text-capitalize"> {{prediction_text}} </p>
	{% elif prediction_text =="sadness"%}
     <p style = "color:PaleTurquoise;" class="text-center text-capitalize"> {{prediction_text}} </p>
	{% else %}
     <p style = "color:DarkSlateBlue;" class="text-center text-capitalize"> {{prediction_text}} </p>
	{% endif %}
   </h2>
   <h5> <p class="text-center">{{ reply_text }}</p> </h5>
 </div>


</body>
</html>